@import "../../styles/colors.scss";
@import "../../styles/constants.scss";

.input-container {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 10px;
  height: 60px;
}

.input-container__input-group {
  height: 35px;
}

.input-container__label {
  display: block;
  transition: 0.2s;
  color: $secondary_color;
  font-size: small;
  transform: translateY(-45px);
}

.input-container__required-label {
  color: $danger_color;
  display: none;
}

.input-container__input {
  font-family: inherit;
  width: 100%;
  padding: 5px 0;
  border: 0;
  border-bottom: 1px solid;
  border-bottom-color: $main_color;
  outline: 0;
  background: transparent;

  font-size: large;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown {
    border-bottom-color: $secondary_color !important;
  }

  &:placeholder-shown ~ .input-container__label {
    font-size: large;
    cursor: text;
    transform: translateY(-25px);
  }

  &:required ~ .input-container__label > .input-container__required-label {
    display: inline;
  }
}

.input-container__input-check-validity {
  &:valid {
    border-bottom-color: $success_color !important;
  }

  &:invalid {
    border-bottom-color: $danger_color !important;
  }
}

.input-container__message {
  margin: 0;
  font-size: small;
  visibility: hidden;
}

.input-container__message-valid {
  color: $success_color;
}
.input-container__message-invalid {
  color: $danger_color;
}

.input-container__errors-block {
  position: absolute;
  background-color: white;
  width: 100%;
  height: auto;
  top: 40px;
  border-radius: 4px;
  box-shadow: $common_shadow;
  padding: 10px;
  font-size: 0.95rem;
  z-index: 1;
  color: $danger_color;
  white-space: pre-line;

  visibility: hidden;
}
