@import "../../styles.scss";

$hover_color: #008ee0;

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: large;

  cursor: pointer;
}

.button_basic {
  background-color: $main_color;
  color: white;

  &:hover {
    background-color: $hover_color;
  }
}

.button_stroked {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: $main_color;
  color: $main_color;

  &:hover {
    background-color: #fafafa;
  }
}

.button_link {
  background-color: transparent;
  border: none;
  color: $main_color;
  font-size: 0.9rem;

  &:hover {
    background-color: $light_main_color;
    color: $hover_color;
  }
}

.button_round {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: $main_color;
  color: white;

  &:hover {
    background-color: $hover_color;
  }

  i {
    padding-top: 2px;
    font-size: medium;
  }
}
