@import "../../styles/colors.scss";
@import "../../styles/constants.scss";

.login-register-block {
  display: flex;
  width: 100%;
  height: calc(100vh - $header_height);
  justify-content: center;
  overflow-y: scroll;

  @media (min-height: 900px) {
    align-items: center;
  }
}

.login-register-block__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 20px 75px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: $common_shadow;
}

.login-register-block__title {
  margin: 0;
  padding: 15px 0;
}

.login-register-block__actions {
  display: flex;
  flex-direction: column;
  width: 100%;
}
