@import "../../styles/colors.scss";

.profile {
  display: flex;
  flex-direction: row;
}

.profile__return {
  display: flex;
  min-width: 64px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $light_gray_border_color;
  background-color: $light_gray_chat_color;

  &:hover {
    background-color: $light_gray_hover_color;
    cursor: pointer;
  }
}

.profile__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.profile__main-avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .profile__main-avatar {
    width: 130px;
    height: 130px;
    border-radius: 130px;
  }

  .profile__main-avatar-hover-block {
    display: none;
    background-color: rgb(0 0 0 / 50%);
    width: 130px;
    height: 130px;
    border-radius: 130px;

    .profile__main-avatar-hover-block-title {
      color: white;
      font-size: 0.9rem;
      user-select: none;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover > .profile__main-avatar-hover-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
}

.profile__main-info {
  display: flex;
  flex-direction: column;
  width: 510px;

  .profile__main-info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $light_gray_border_color;

    .profile__main-info-item-title {
      font-weight: bold;
    }

    .profile__main-info-item-value {
      color: $secondary_color;
    }
  }
}

.profile__main-actions {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
