@import "../../styles/colors.scss";
@import "../../styles/settings-pages.scss";

.profile__main-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $light_gray_border_color;

  .profile__main-info-item-title {
    font-weight: bold;
  }

  .profile__main-info-item-value {
    color: $secondary_color;
  }
}

.profile__save-actions {
  display: flex;
  flex-direction: row;
  width: $profile_main_info_width;
  justify-content: space-around;
  padding-top: 50px;
}
