@import "../../../../styles/colors.scss";

$controls_height: 102px;
$chats_width: 35vw;

.chats {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: $chats_width;
  max-width: 310px;
  background-color: $light_gray_chat_color;
  border-right: 1px solid $light_gray_border_color;
  padding-bottom: 0;

  @media (min-width: 1500px) {
    max-width: 400px;
  }
}

.chats__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: $controls_height;
  width: 100%;
  padding: 10px;
}

.chats__actions {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.chats__profile-link {
  display: flex;
  flex-direction: row;
  min-width: 90px;
  justify-content: space-between;
  text-decoration: none;
  color: $secondary_color;
  align-items: center;
  font-size: 0.95rem;

  &:hover {
    color: gray;
  }
}

.chats__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  input {
    padding: 10px;
    height: 32px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: #efefef;
    font-family: inherit;
    font-size: medium;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .chats__search__label {
      display: block;
    }
  }

  .chats__search__label {
    display: none;
    position: absolute;
    transition: 0.2s;
    color: $secondary_color;
    font-size: 0.9rem;
    cursor: text;
  }
}

.chats__chats-list {
  display: block;
  height: calc(100vh - $controls_height);
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  overflow-y: auto;

  .chats__chat-info-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
