$main_color: #0099ef;
$light_main_color: #008ee01e;
$hover_main_color: #008ee0;

$secondary_color: #a7a7a7;
$light_gray_chat_color: #fbfbfb;
$light_gray_border_color: #eaeaea;
$light_gray_hover_color: #e4edfd;

$danger_color: rgb(224 0 0);
$hover_danger_color: rgb(205 0 0 / 91%);
$light_danger_color: rgb(141 0 0 / 48.6%);

$success_color: #2ecc71;
