@import "../../../../../../styles/colors.scss";

.chat__input-text {
  padding: 10px;
  min-height: 32px;
  width: 100%;
  border-radius: 20px;
  border: 0;
  outline: 0;
  background-color: $chat_message_input_color;
  font-family: inherit;
  font-size: medium;
  caret-color: $main_color;

  &::placeholder {
    color: $secondary_color;
  }
}
