@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// Цвета
$main_color: #0099ef;
$light_main_color: #008ee01e;
$secondary_color: #a7a7a7;
$danger_color: rgb(197, 0, 0);

// Константы
$header_height: 60px;
$common_shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
